@import 'tailwindcss';
/* @import './common/theme.css'; */

/* 수동으로 다크모드 적용할때 */
/* @custom-variant dark (&:where(.dark, .dark *)); */

/* :root{
  --color-likelion: oklch(0.72 0.11 178);
} */

@theme {
  --color-like: lightblue;
  --color-lion: lightgreen;

  --building: url(../src/assets/images/building.avif);
}

@layer components {
  .bootcamp {
    background-color: orange;
    padding: 1em;
    margin-bottom: 1em;
    border: 5px solid blue;
  }
}
