@import 'tailwindcss';
/* @import './common/theme.css'; */

/* 수동으로 다크모드 적용할때 */
/* @custom-variant dark (&:where(.dark, .dark *)); */

/* :root{
  --color-likelion: oklch(0.72 0.11 178);
} */

@theme {
  --color-like: lightblue;
  --color-lion: lightgreen;

  --building: url(../src/assets/images/building.avif);
  --pretendard: 'Pretendard Variable', Pretendard, sans-serif;
  --color-likelion-bl: #303030;
  --color-likelion-green: #58dc76;
  --color-likelion-red: #b02c20;
  --color-likelion-gray: #f5f5f5;

  --autofit: repeat(auto-fit, minmax(240px, 1fr));
  --headerHeight: 50px;
  --halfWidth: 50vw;
  --navHeight: calc(100dvh - var(--headerHeight));
  --navShadow: 0 0 7px 1px rgba(0, 0, 0, 0.1);
}

@layer components {
  .bootcamp {
    background-color: orange;
    padding: 1em;
    margin-bottom: 1em;
    border: 5px solid blue;
  }
  .like {
    @apply border-4 border-blue-500 p-4 my-4 bg-violet-200;
  }
}

/* @layer utilitiy {
  .shape-circle {
    shape-outside: circle(50%);
  } 
}*/
/* 단축 버전 */
@utility shape-circle {
  shape-outside: circle(50%);
}
